.action__buttons{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
.online__status{
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 100%;
  background-color: #66f066;
}
.offline__status{
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 100%;
  background-color: #f06666;
}
body{
  position: relative;
}